# System files
.DS_Store
.Rhistory
.Rapp.history

# Python cache files
__pycache__/

# Data, Figure, and Result folders
FigShare/
Figures/
SupplementaryTables/
Results/

# Files
*.csv
*.xlsx
*.txt
*.tsv
*.tsv#
*.gz
*.rds
*.gmt
rna_qc_metric.ipynb
table_editing.ipynb
seeding_lesion_plots.Rmd
single_cell_analysis_.Rmd